@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=PT+Sans:wght@700&display=swap");
.product {
  background-color: #fff;
  margin: 10px;
  border: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product:hover {
  box-shadow: 3px 3px 14px 2px rgba(0, 0, 0, 0.75);
}

.product img {
  width: 100%;
  height: 300px;
  margin-bottom: 2px;
}
.title {
  color: #0f1111;
  font-family: "Noto Sans";
  padding: 0px 10px;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 2px;
}
.price {
  color: #3f4646;
  font-family: "PT Sans";
  font: bold;
  font-size: 20px;
  margin-bottom: 2px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(90, 191, 174);
  margin-top: auto;
  bottom: 0px;
  font-size: larger;
  width: 100%;
  height: 35px;
}

.btn:hover {
  color: white;
  border: none;
  background-color: rgb(16, 46, 52);
}
